body {
  background-attachment: fixed;
  background-position: center;
  background-size: cover; 
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  left: 0%;
  width: 80%;
  height: 70%;
  padding: 40px;
  background-color: #f0f0f0e7;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
 /* transform: scale(0.95); */
  display: flex;
}

.container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  flex-basis: 45%;
  padding-right: 20px;
}

.sidebar h1 {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc; /* Trennstrich unter der Überschrift hinzufügen */
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  transform: rotate(-2deg);
  transition: transform 0.3s ease;
}

.profile-img:hover {
  transform: scale(1.05);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
}

.about {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.3s ease;
}

.about:hover {
  transform: translateY(10px); /* Schweben-Effekt */
}

.projects {
  flex-basis: 50%;
  justify-content: center;
  align-items: center;
}

.project {
  background-color: #f8f8f8;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.project:hover {
  transform: scale(1.1);
  transition: 0.4s;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
}

.project h2 {
  margin-top: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  transition: text-shadow 0.3s ease;
}

.project:hover h2 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.project p {
  color: #070202;
}

.project a {
  display: inline-block;
  padding: 8px 12px;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-decoration: none;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.close-icon {
  position: relative;
  width: 100%;
  height: 100%;
}

.close-icon:before,
.close-icon:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: #000;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: background-color 0.3s, transform 0.3s;
}

.close-icon:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.close-btn:hover .close-icon:before,
.close-btn:hover .close-icon:after {
  background-color: #130202;
  transform: translate(-50%, -50%) rotate(45deg) scale(1.1);
}

.close-btn:hover .close-icon:after {
  transform: translate(-50%, -50%) rotate(-45deg) scale(1.1);
}

.sidebar .about + .links {
  margin-top: 20px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  display: inline-block;
  padding: 8px 12px;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-decoration: none;
  width: auto;
  cursor: pointer;
  margin-bottom: 10px;
  border: none; /* Remove the border */
}

.button:hover {
  transform: scale(1.16);
}

.button:focus {
  outline: none;
}

.search {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: transparent;
  
}

.search::before {
  content: "";
  width: auto;
  height: auto;
  position: absolute;
  background-color: #f0f0f0;
  border-radius: 20px;
  z-index: -1;
}

@media (max-width: 880px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .sidebar {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .about,
  .links {
    margin-left: 0;
  }

  .projects {
    flex-basis: 100%;
  }

  .project {
    margin-left: 0;
  }

  .search {
    margin-left: 0;
    width: 98%;
    border-radius: 30px;
  }

  .search input {
    width: 98%;
        border-radius: 30px;
  }
}
/* Weitere CSS-Styles hier */

.update-username {
  display: flex;
  flex-direction: column;
}

.username-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border-radius: 20px;
}

.username-input-container input {
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #ccc;
  flex-basis: 50%;
  margin-right: 10px;
}

.username-input-container button {
  padding: 8px 12px;
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
    display: flex;
  align-items: center;
  justify-content: center;
}

.username-input-container button:hover {
  transform: scale(1.1);
}

.username-input-container button:focus {
  outline: none;
}

/* GitHub Search */

select {
  position: relative;
  border: none;
  width: 50%;
  transform: translate(35%, -10%);
  background: transparent;
}

select option {
  margin-top: 5px;
}

img {
  max-width: 100%;
  height: auto;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 10px;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu li {
  margin-right: 10px;
  margin-left: 10px;
}

.menu a {
  display: inline-block;
  padding: 8px 12px;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-decoration: none;
  width: auto;
}

.menu a:hover {
  transform: scale(1.3);
}

.menu a:focus {
  outline: none;
}


.username-input-container input,
.search input {
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #ccc;
  flex-basis: 50%;
  margin-right: 10px;
  width: auto;
  background-color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.username-input-container input:focus,
.search input:focus {
  outline: none;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.projectWrapper {
  padding-left: 5%;
  min-width: 45%;
}

.project-card {
  background-color: #f8f8f8;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: scale(1.1);
  transition: 0.4s;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
}

.project-card h2 {
  margin-top: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  transition: text-shadow 0.3s ease;
}

.project-card:hover h2 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.project-card p {
  color: #070202;
}

.project-card a {
  display: inline-block;
  padding: 8px 12px;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-decoration: none;
}


.header {
  margin-top: 10px;
}